chess.xcodeproj/project.xcworkspace/xcuserdata/craigconway.xcuserdatad/UserInterfaceState.xcuserstate
chess.xcodeproj/xcuserdata/craigconway.xcuserdatad/xcschemes/chess.xcscheme
chess.xcodeproj/xcuserdata/craigconway.xcuserdatad/xcschemes/xcschememanagement.plist
